{% extends "_base.html" %}

{% block content %}
<div class="splash-container">
	<img id="splash-image" src="{{ splash_image }}" alt="{{ splash_img_desc }}" />
	<div id="splash-hed">{{ headline }}</div>
</div>
<div class="container">
    <div id="deckhead">{{ deck_head }}</div>

    <div class="byline">{{ byline }}</div>
    <div class="byline-credit">{{ byline_credit }}</div>
    <div class="story-container">
    	<div class="story">
    		{{ section1|markdown }}
    	</div>
    	<div class="right-rail"></div>
    </div>
</div>
<!--container 2 image or other content will go here-->
<div class="container">
    <h2>{{ subhead2 }}</h2>
    <p>
    	{{ section2|markdown }}
    </p>
    </div>
    <div class="right-rail"></div>
	<p>Learn more on the <a href="_example.html">example page</a>.</p>
</div>
{% endblock content %}

