{% extends "_base.html" %}

{% block content %}
<div class="splash-container">
	<img id="splash-image" src="{{ splash_image }}" alt="{{ splash_img_desc }}" />
	<div class="container"><div id="splash-hed">{{ headline }}</div></div>
</div>
<div class="container">
    <div id="deckhead">{{ deck_head }}</div>
    <div class="byline">
    	<div class="byline-name">By {{ byline }}</div>
    	<div class="byline-credit">{{ byline_credit }}</div>
    </div>
    <div class="dateline">Reporting from {{ dateline }} —</div>
    <div class="story-container">
    	<div class="story">
    		{{ section1|markdown }}
    	</div>
    	<div class="right-rail">
    		{% if s1pullquote %}
    		<div class="pullquote-container">
    			<div class="quotemark">&#8220;</div>
    			<div class="quote">{{ s1pullquote }}</div>
    			<div class="quote-credit"> - {{ s1quote_credit }}</div>
    		</div>
    		{% endif %}
    		{% if sect1_doc1_link %}
    		<div class="doc-container">
    			<div class="rail-hed">Read the documents</div>
    			<div class="doc-list">
					<ul>
						{% if s1_doc1_tease %}
						<li><a href="{{ sect1_doc1_link }}" class="doc-list">{{ s1_doc1_tease }}</a></li>
						{% endif %}
						{% if s1_doc2_tease %}
						<li><a href="{{ sect1_doc2_link }}" class="doc-list">{{ s1_doc2_tease }}</a></li>
						{% endif %}
						{% if s1_doc3_tease %}
						<li><a href="{{ sect1_doc3_link }}" class="doc-list">{{ s1_doc3_tease }}</a></li>
						{% endif %}
						{% if s1_doc4_tease %}
						<li><a href="{{ sect1_doc4_link }}" class="doc-list">{{ s1_doc4_tease }}</a></li>
						{% endif %}
					</ul>
    			</div>
    		</div>
    		{% endif %}
    		<!--factbox-->
    		{% if factbox_hed1 %}
    		<div class="factbox-container">
    			<div class="rail-hed">{{ factbox_hed1 }}</div>
    			<div class="factbox">{{ factbox_sec1|markdown }}</div>
    			<div class="credit-line">Source: {{ factbox_c1 }}</div>
    		</div>
    		{% endif %}
    		<!--sidebar-->
    		{% if sidebar_hed1 %}
    		<div class="factbox-container">
    			<div class="rail-hed">{{ sidebar_hed1 }}</div>
    			<div class="chatter">{{ sidebar_chatter1 }}</div>
    			{% if sidebar_img1 %}
    				<div class="sidebar-img"><img src="{{ sidebar_img1 }}" /></div>
    			{% endif %}
    			{% if sidebar_div1 %}
    				<div class="{{ sidebar_div1 }}"></div>
    			{% endif %}
    			<div class="credit-line">
					Source: {{ sidebar_source1 }}
					<br>{{ sidebar_credit1 }}
    			</div>
    			{% endif %}
    		</div>
    	</div>
    	<div style="clear: both;"></div>
    </div>
</div>
<div class="splash-container">
	<img id="splash-image" src="{{ section2image }}" alt="{{ splash_img_desc }}" />
	<div class="img-cap-container">
	<div class="photo-credit">{{ section2imagecredit }}</div>
	<div class="photo-caption">{{ section2imagecap }}</div>
	</div>
</div>
<div class="container">
	<div class="story-container">
    	<h2>{{ subhead2 }}</h2>
    	<div class="story">
    		{{ section2|markdown }}
    	</div>
    	<div class="right-rail">
    		<!--pullquote-->
    		{% if s2pullquote %}
    		<div class="pullquote-container">
    			<div class="quotemark">&#8220;</div>
    			<div class="quote">{{ s2pullquote }}</div>
    			<div class="quote-credit"> - {{ s2quote_credit }}</div>
    		</div>
    		{% endif %}
    		<!--doclinks-->
    		{% if sect2_doc1_link %}
    		<div class="doc-container">
    			<div class="rail-hed">Read the documents</div>
    			<div class="doc-list">
					<ul>
						{% if s2_doc1_tease %}
						<li><a href="{{ sect2_doc1_link }}" class="doc-list">{{ s2_doc1_tease }}</a></li>
						{% endif %}
						{% if s2_doc2_tease %}
						<li><a href="{{ sect2_doc2_link }}" class="doc-list">{{ s2_doc2_tease }}</a></li>
						{% endif %}
						{% if s2_doc3_tease %}
						<li><a href="{{ sect2_doc3_link }}" class="doc-list">{{ s2_doc3_tease }}</a></li>
						{% endif %}
						{% if s2_doc4_tease %}
						<li><a href="{{ sect2_doc4_link }}" class="doc-list">{{ s2_doc4_tease }}</a></li>
						{% endif %}
					</ul>
    			</div>
    		</div>
    		{% endif %}
    		<!--factbox-->
    		{% if factbox_hed2 %}
    		<div class="factbox-container">
    			<div class="rail-hed">{{ factbox_hed2 }}</div>
    			<div class="factbox">{{ factbox_sec2|markdown }}</div>
    			<div class="credit-line">Source: {{ factbox_c2 }}</div>
    		</div>
    		{% endif %}
    		<!--sidebar-->
    		{% if sidebar_hed2 %}
    		<div class="factbox-container">
    			<div class="rail-hed">{{ sidebar_hed2 }}</div>
    			<div class="chatter">{{ sidebar_chatter2 }}</div>
    			{% if sidebar_img2 %}
    				<div class="sidebar-img"><img src="{{ sidebar_img2 }}" /></div>
    			{% endif %}
    			{% if sidebar_div2 %}
    				<div class="{{ sidebar_div2 }}"></div>
    			{% endif %}
    			<div class="credit-line">
					Source: {{ sidebar_source2 }}
					<br>{{ sidebar_credit2 }}
    			</div>
    			{% endif %}
    		</div>
    	</div>
    	<div style="clear: both;"></div>
    </div>
</div>
{% endblock content %}

